<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
       PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwq.dao.UserMapper">

    <insert id="addUser" parameterType="User">
        insert into ssm.user(username, password, email, number,status,flag) values(#{username},#{password},#{email},#{number},0,0);
    </insert>

    <delete id="deleteUser" parameterType="int">
        delete from ssm.user where id = #{UserId};
    </delete>


    <update id="updateUser" parameterType="User">
        update ssm.user set password = #{password} where username = #{username};
    </update>

    <select id="getUser" resultType="User">
        select * from ssm.user where id = #{id};
    </select>

    <select id="getAllUser" resultType="User">
        select * from ssm.user;
    </select>

    <select id="loginUser" resultType="User">
        select * from ssm.user where username = #{username};
    </select>

    <update id="updateUserAll" parameterType="user">
        update ssm.user set email = #{email}, number = #{number}, img = #{img} where id = #{id};
    </update>

    <select id="getFlag" resultType="int">
        select flag from ssm.user where username = #{username}
    </select>

    <select id="adminSelectAllUser" resultType="user">
        select * from ssm.user where username like #{keyword} and flag = 0
    </select>

    <update id="prohibitByUserId" parameterType="int">
        update ssm.user set status = #{status} where id = #{userId}
    </update>

    <delete id="deleteUserById" parameterType="int">
        delete from ssm.user where id = #{userId}
    </delete>

</mapper>